
<div id="loginDiv" class="bigEntrance">
<form action="/auth/login" method="POST" id="login_form">
  <label for="auth-email" class="profile">Email</label>
  <input  require id="auth-email" type="email" name="email" class="login">

  <label for="auth-password" class="profile">Password</label>
  <input  require id="auth-password" type="password" name="password" class="login">

  <input type="submit" value="Log In" class="login" id="loginB">
</form>
</div>