<h1>Crypto Database</h1>


<form action="./results" method="GET">
    <label for="label">Crypto</label>
    <input type="text"  id="label" name="label">
    <button type="submit">Search</button>
</form>