

<div id ="divform" class="floating">
<form action="./results" method="GET" class="input_and_button">
    <label for="label" id="crypto_search_label">Explore an Investment</label>
    <input type="text"  id="label" name="label" placeholder="search" class="searchbar" id="pad">
    <button type="submit" class="searchbar" id="searchbutton">Search</button>
</form>
</div>