<h1>Crypto Search</h1>

<div class="divform">
<form action="./results" method="GET" class="input_and_button">
    <label for="label"></label>
    <input type="text"  id="label" name="label" placeholder="search" class="searchbar" id="pad">
    <button type="submit" class="searchbar" id="searchbutton">search</button>
</form>
</div>