* {
  list-style: none;
  font-weight: bold;
}

.link {
  text-decoration: none;
}

nav ul li {
  text-decoration: none;
  display: inline;
}





h1 {
  color: rgb(64, 151, 209);
}

a {
  text-decoration: none;
}

#circle {
  border-radius: 3em;
  margin-top: 5px;
  background-color: rgb(64, 151, 209);
  z-index: 1;
}

.logo {
  height: 250px;
  width: 250px;
  margin-left: 40px;
  margin-top: -120px !important;
}

#logoLand {
   position: absolute; 
  margin-left: -200px;
}

#landingF {
  border: 1px solid white;
  border-radius: 2em;
  padding: 10px;
  transition: all 0.2s ease;
  top: 35px;
  left: 1000px;
}

#landingF:hover {
      color: rgb(62, 180, 219);
      transition: all 0.2s ease;
}


nav {
 
  position: relative;
}

nav ul {
  padding: 0px 0px 0px 0px;
}


.profile {
  color: white;
}

.navlink {
  color: white;
  font-size: 20px;
  padding-left: 20px;
}

.link {
  color: white;
  padding: 5px;
  position: relative;
  left: 700px;
   margin-left: 30px; 
}


.input_and_button {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}


#divform {
  display: flex;
  margin-top: 50px;
}

body {
  background-image: url('../images/blockchain-infrastructure-wave-platform-vostok.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(0);
}

.resultcolor {
  color: white;
  opacity: 100%;
}
.results_header {
  border: 2px solid white;
  border-radius: 2em;
  width: 400px;
  padding-left: 160px;
  margin-left: 50px;

}


/* crpytosearch form */
.searchbar {
  border-radius: 2em;
  height: 4em;
  width: 400px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  color: white;
}

input[type="text"] {
  padding-left: 20px;
}

#crypto_search_label {
  display: block;
  color: white;
  font-size: 30px;
  padding-bottom: 10px;
  border: 2px solid white;
  margin-bottom: 20px;
  border-radius: 2em;
}

.searchbar:hover {
  border: 2px solid white;
  transition: all 0.1s ease;
}

::placeholder {
  font-size: 25px;
  padding-left: 8px;

}




#searchbutton {
  width: 150px;
  background-color:  rgb(64, 151, 209);
  opacity: 100%;
  color: white;
}

 #pad {
   padding-left: 10px;
 }


 
/* where crypto search form ends */


/* results page styling */

#result-Bg {
  background-color: rgba(0, 0, 0, 0.7);
  width: 500px;
  border-radius: 2em;
  padding: 10px;
  margin-left: 10px;
  font-size: 20px;
  margin-bottom: 15px; 
  visibility: hidden;
}

#mywatchlist_div {
  border: 2px solid white;
  border-radius: 2em;
  width: 450px;
  padding-left: 100px;
  margin-left: 40px;
  margin-bottom: 10px;
}
/* watch list nav link */

.watchlist {
  color: white;
  margin-left: 10px;
}

#updatebutton {
  border-radius: 2em;
  background-color: rgb(58, 189, 233);
  margin-left: 30px;
}

#deletebutton {
  border-radius: 2em;
  background-color: rgb(58, 189, 233);
}


/* login styling */ 
.login {
  border-radius: 2em;
  height: 40px;
  width: 200px;
  display: block;
  background-color: rgb(113, 216, 250, 0.7);
  border: none;
  outline: none;
  margin: 10px auto;
  color: white;
}

.login:hover {
  border: 2px solid white;
  transition: all 0.1s ease;

}

#loginB {
  width: 100px;
}

#login_form {
  border: 3px solid white;
  width: 400px;
  height: 300px;
  border-radius: 2em;
  margin: 0 auto;
  padding-top: 50px;
  background-color:rgba(0, 0, 0, 0.7) ;
}

.profile {
   margin-left:100px;
}

/* login animations*/
.loginDiv {
  visibility: hidden;
}


/* signup styling */

.signup {
  border-radius: 2em;
  height: 40px;
  width: 200px;
  display: block;
  background-color: rgb(113, 216, 250, 0.7);
  border: none;
  outline: none;
  margin: 10px auto;
  color: white;
}

.signup:hover {
  border: 2px solid white;
  transition: all 0.1s ease;

}

#signupB {
  width: 100px;
}

#signup_form {
  border: 3px solid white;
  width: 400px;
  height: 400px;
  border-radius: 2em;
  margin: 0 auto;
  padding-top: 50px;
  background-color:rgba(0, 0, 0, 0.7) ;
}

.profile {
   margin-left:100px;
}

/* signup animations */
.signupDiv {
  visibility: hidden;
}


/* visitor page styling */
.Visitor {
  color: white;
  font-size: 80px;
}

#LandpageV {
  font-size: 20px;
  font-weight: lighter;
}



/* profile styling */
#profileP {
  color: white;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 400px;
  height: 300px;
  margin: auto;
  padding: 15px;
  padding-left: 50px;
  padding-top: 30px;
  border-radius: 2em;
}

#profileH {
  border: 2px solid white;
  border-radius: 2em;
  width: 380px;
  color: white;
  padding: 10px 10px 10px 30px;
  margin: 10px auto;
}


/* footer styling */


#divFooter {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 100px;
}